<center>
    <hr>
    <h1>7A</h1>
    <p>Natural Language Processing</p>
    <hr>
</center>

In [34]:
# Data cleaning

punct="'!@$%^&*#><?.-_,{}()[]"
my_str="Hello!!!!...Good_-Morning(hiiiii...)"
no_punct=""
for char in my_str:
  if(char not in punct):
    no_punct=no_punct + char 
no_punct

'HelloGoodMorninghiiiii'

In [15]:
# Tokenization

import nltk
# nltk.download('punkt')
from nltk.tokenize import word_tokenize

#function to split text into word
tokens = word_tokenize("The quick brown is an fox jumps over the lazy dog")
print(tokens)

['The', 'quick', 'brown', 'is', 'an', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [16]:
# Removing stop words

from nltk.corpus import stopwords
# nltk.download('stopwords')
stop_words=stopwords.words('english')
print(tokens)
# print(stop_words)
 
#removing stopwords
tokens = [w for w in tokens if not w in stop_words]
print(tokens)

['The', 'quick', 'brown', 'is', 'an', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['The', 'quick', 'brown', 'fox', 'jumps', 'lazy', 'dog']

In [18]:
# Stemming

from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
input_str="There are the several types of stemming algorithm"
input_str=nltk.word_tokenize(input_str)
for word in input_str:    
    print(stemmer.stem(word))

there
are
the
sever
type
of
stem
algorithm

In [24]:
# Lemmatization 

import nltk
# nltk.download('wordnet')
# nltk.download('omw-1.4')
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
input_str="been had done a languages cities mice"
input_str=nltk.word_tokenize(input_str)
for word in input_str:    
    print(lemmatizer.lemmatize(word))

been
had
done
a
language
city
mouse

In [31]:
# POS Tagging

sent = "Albert Einstein was born in Ulm, Germany in 1879."
tokens=nltk.word_tokenize(sent)
# print(tokens)

import nltk
# nltk.download('averaged_perceptron_tagger')
nltk.pos_tag(tokens)

[('Albert', 'NNP'),
 ('Einstein', 'NNP'),
 ('was', 'VBD'),
 ('born', 'VBN'),
 ('in', 'IN'),
 ('Ulm', 'NNP'),
 (',', ','),
 ('Germany', 'NNP'),
 ('in', 'IN'),
 ('1879', 'CD'),
 ('.', '.')]

<center>
    <hr>
    <h1>7B</h1>
    <p>Creating TF-IDF Model</p>
    <hr>
</center>

In [1]:
# Importing Libraries

import pandas as pd
import sklearn as sk
import math

In [2]:
first_sentence = "John is a very good singer"
second_sentence = "Bob is the friend of John who likes to play guitar"

In [38]:
#split so each word have their own string

first = first_sentence.split(" ")
second = second_sentence.split(" ")

#join them to remove common duplicate words
total= set(first).union(set(second))
print(total)

{'Bob', 'of', 'play', 'John', 'good', 'the', 'who', 'a', 'very', 'singer', 'friend', 'to', 'guitar', 'likes', 'is'}

In [ ]:
# count the words using a dictionary 

wordDictA = dict.fromkeys(total, 0)
wordDictB = dict.fromkeys(total, 0)
for word in first:
   wordDictA[word]+=1
  
for word in second:
   wordDictB[word]+=1

In [44]:
# put them in a dataframe

pd.DataFrame([wordDictA, wordDictB])

,Bob,of,play,John,good,the,who,a,very,singer,friend,to,guitar,likes,is
0,0,0,0,1,1,0,0,1,1,1,0,0,0,0,1
1,1,1,1,1,0,1,1,0,0,0,1,1,1,1,1

In [46]:
# TF Function :

def computeTF(wordDict, doc):
   tfDict = {}
   corpusCount = len(doc)
   for word, count in wordDict.items():
       tfDict[word] = count/float(corpusCount)
   return(tfDict)


# Calling tf function:
tfFirst = computeTF(wordDictA, first)
tfSecond = computeTF(wordDictB, second)


#Converting to dataframe for visualization
tf = pd.DataFrame([tfFirst, tfSecond])


tf

,Bob,of,play,John,good,the,who,a,very,singer,friend,to,guitar,likes,is
0,0.000000,0.000000,0.000000,0.166667,0.166667,0.000000,0.000000,0.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.000000,0.166667
1,0.090909,0.090909,0.090909,0.090909,0.000000,0.090909,0.090909,0.000000,0.000000,0.000000,0.090909,0.090909,0.090909,0.090909,0.090909

In [48]:
# Removing Stop words

import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords


stop_words = set(stopwords.words('english'))

filtered_sentence = [w for w in wordDictA if not w in stop_words]
print(filtered_sentence)

['Bob', 'play', 'John', 'good', 'singer', 'friend', 'guitar', 'likes']

In [50]:
# Calculate IDF

def computeIDF(docList):
   idfDict = {}
   N = len(docList)
  
   idfDict = dict.fromkeys(docList[0].keys(), 0)
   for word, val in idfDict.items():
       idfDict[word] = math.log10(N / (float(val) + 1))
      
   return(idfDict)
#inputing our sentences in the log file
idfs = computeIDF([wordDictA, wordDictB])

idfs

{'Bob': 0.3010299956639812,
 'of': 0.3010299956639812,
 'play': 0.3010299956639812,
 'John': 0.3010299956639812,
 'good': 0.3010299956639812,
 'the': 0.3010299956639812,
 'who': 0.3010299956639812,
 'a': 0.3010299956639812,
 'very': 0.3010299956639812,
 'singer': 0.3010299956639812,
 'friend': 0.3010299956639812,
 'to': 0.3010299956639812,
 'guitar': 0.3010299956639812,
 'likes': 0.3010299956639812,
 'is': 0.3010299956639812}

In [57]:
# Calculate TF-IDF

def computeTFIDF(tfBow, idfs):
   tfidf = {}
   for word, val in tfBow.items():
       tfidf[word] = val*idfs[word]
   return(tfidf)

#running our two sentences through the IDF:
idfFirst = computeTFIDF(tfFirst, idfs)
idfSecond = computeTFIDF(tfSecond, idfs)


#putting it in a dataframe
tfidf= pd.DataFrame([idfFirst, idfSecond])
tfidf
# print(tfidf)

,Bob,of,play,John,good,the,who,a,very,singer,friend,to,guitar,likes,is
0,0.000000,0.000000,0.000000,0.050172,0.050172,0.000000,0.000000,0.050172,0.050172,0.050172,0.000000,0.000000,0.000000,0.000000,0.050172
1,0.027366,0.027366,0.027366,0.027366,0.000000,0.027366,0.027366,0.000000,0.000000,0.000000,0.027366,0.027366,0.027366,0.027366,0.027366